/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
#taxname {
  display: none !important
}
#zip {
  display: none !important;  
}
#211-keyword {
  display: none !important
}