/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
 #geocoor {
     display: none;
     
 }
 #region {
     display: none;
 }
#email-211 {
     display: none !important;
}
#user-location {
     display: none !important;
}